venv/
*.pyc
.env
/staticfiles/
env/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Static files
/staticfiles/

# But keep the static directory
!/static/.gitkeep
