option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    ENVIRONMENT: production
    SECRET_KEY: ${SECRET_KEY}
    AWS_DB_NAME: ${AWS_DB_NAME}
    AWS_DB_USER: ${AWS_DB_USER}
    AWS_DB_PASSWORD: ${AWS_DB_PASSWORD}
    AWS_DB_HOST: ${AWS_DB_HOST}
    AWS_DB_PORT: ${AWS_DB_PORT}
    AWS_DB_SSL_MODE: require
    EMAIL_HOST: ${EMAIL_HOST}
    EMAIL_PORT: ${EMAIL_PORT}
    EMAIL_HOST_USER: ${EMAIL_HOST_USER}
    EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
    EMAIL_USE_TLS: ${EMAIL_USE_TLS}
    DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
    BYPASS_EMAIL_VERIFICATION: False
    EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend
    FRONTEND_URL: ${FRONTEND_URL}
